<div class="table-responsive">
  <table class="table table-hover table-striped table-bordered">
     <thead>
       <tr>
         <th>Author</th>
         <th>Answer</th>
         <th>Settings</th>
       </tr>
     </thead>
     <tbody>
       {{#each answers as |answer|}}
         <tr>
           <td>{{answer.author}}</td>
           <td>{{answer.answer}}</td>
           <td>
             <button class="btn btn-danger btn-xs" {{action 'deleteAnswer' question answer}}>Delete</button>
           </td>
         </tr>
       {{/each}}
     </tbody>
   </table>
</div>
