<div class="well">
  <h4>What's the best time to arrive?</h4>
  <p>Definitely arrive several hours earlier to be on the safe side. CARPOOL, CARPOOL, CARPOOL!!! Please be prepared for significant delays if you choose to not obey all festival signage and staff. For the easiest and fastest arrival and departure, take a <a href="http://www.valleymusictravel.com/events/coachella-2016/local-hotel-shuttles/">shuttle</a>.</p>
  <h4>Can I walk to the festival?</h4>
  <p>Yes, pedestrian access is available via Avenue 49/Monroe and Avenue 52/Madison. Please be advised, there will be NO festival access for pedestrians along Monroe Street between Avenue 49 and Avenue 52 and NO pedestrian access on Madison between Ave 50 and 52.</p>

  <h4>What time does it end?</h4>
  <p>The festival usually ends around 12:30am-ish. Give or take a few.</p>

  <h4>Will you be posting set times in advance?</h4>
  <p>Yes. Set times will be posted here a couple days before the festival and will also be on the festival guide that is passed out upon entrance.</p>

  <h4>How hot will it get in the day and how cold will it get at night?</h4>
  <p><a href="https://weather.com/weather/tenday/l/Coachella+CA+92201">CLICK HERE</a> for Coachella Valley 10 day Weather forecast information.
  <a href="http://www.intellicast.com/Local/History.aspx?location=USCA0512">CLICK HERE</a> to see what the “average” weather is like in Indio, CA. all year long.</p>

  <h4>What are you doing to ensure my safety at the festival?</h4>
  <p>We’re working in conjunction with state & city law enforcement and in coordination with multiple government agencies to work towards delivering the safest festival environment possible.</p>

  <h4>I'm a photographer. Who do I arrange a photo pass through?</h4>
  <p>PRESS/MEDIA Inquiries:
  Please visit our <a href="https://www.coachella.com/contact/" target="_blank">contact info</a> page.</p>

  <h4>Are you hiring volunteers at the event?</h4>
  <p>No. But thanks for checking. :)</p>

  <h4>Can I pass out flyers/promotional stuff inside? Outside?</h4>
  <p>No. Please try and use less paper. Plus, marketing is totally over rated.</p>

  <h4>How do I become food vendor? Or non-food vendor? I have questions!</h4>
  <p><em>Non-Food Vending booths:</em> Sorry, we’re not taking non-food vendor applications. We are not seeking vendors. There is no waiting list. We will post here if we change our minds. You don’t need to email us to ask about this.
  <em>Food Vending:</em> Please visit the <a href="https://www.coachella.com/knowledge-base/contact/">Coachella contact page</a>.</p>

  <h4>I am going to the festival but not camping on site. CAN I PARTAKE in all the cool stuff going on in the campgrounds?</h4>
  <p>You can during the festival but there is NO parking for you on Thursday night. (this means there is nowhere for you to park your car on Thursday night). If you find another way to arrive (taxi/uber/lyft/shuttle/bike/walk/float/swim) and are wearing your festival pass, you are more than welcome to visit onsite camping. Onsite camping is the best option to never miss a moment of the onsite camping fun! party.</p>

  <h4>Are there any places to rent a bicycle nearby?</h4>
  <p>You should check <a href="http://lmgtfy.com/?q=bicycle+rental+indio">HERE</a> or <a href="https://search.yahoo.com/search?p=bicycle+rental+indio&toggle=1&cop=mss&ei=UTF-8&fr=yfp-t-701">HERE</a>.</p>

  <h4>Can I ride my bike to the Festival? Where do I park my bicycle?</h4>
  <p>Yes! People lock them all over. Don’t lock it to an entrance or art piece though or you may never see it again. Park/Lock at your own risk. Tons of people bike every year. Look for designated bike parking.</p>

  <h4>I have a Medical Marijuana Card and medicate daily. cool?</h4>
  <p>Sorry Bro, Medical Marijuana Cards are not valid at Coachella Festival.</p>

  <h4>Why __(any question)____________________ ?</h4>
  <p>Because.</p>

  <h4>Can I use tickets/wristbands/the Coachella name to promote my website/product/event?</h4>
  <p>No. The Coachella trademarks, intellectual property, tickets and wristbands may NOT be used for advertising, promotions, contests, sweepstakes or any commercial purpose. The only exception is for the festival’s official sponsors.</p>

  <h4>Can I sell my [insert crap I want to sell] in the parking lots, camping areas or venue?</h4>
  <p>If you don’t have vending approval from the festival your items will be confiscated.</p>
</div>
