<div class="well table-well">
  <div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
       <thead>
         <tr>
           <th>Author</th>
           <th>Question</th>
           <th>Delete</th>
         </tr>
       </thead>
       <tbody>
         {{#each questions as |question|}}
           <tr>
             <td>{{question.author}}</td>
             <td>{{#link-to 'question' question.id}}{{question.content}}{{/link-to}}</td>
             <td>
               <img id="delete" src="/img/x.png" alt="delete button" {{action 'deleteQuestion' question}}/>
             </td>
           </tr>
         {{/each}}
       </tbody>
     </table>
  </div>
</div>
