nav a {
  color: #F8FFFA;
}

nav a:hover {
  color: #FED498;
  text-decoration: none;
}

thead {
  background: linear-gradient(to right, #212560, #2C2956, #472D6A, #562B59);
  color: #F8FFFA;
}

form {
  margin-bottom: 20px;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.container {
  margin-bottom: 20px;
}

.question-detail {
  border: solid 1px #212560;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}

#banner {
  width: 100%;
}

#addQuestion, #answerQuestion {
  margin-bottom: 20px;
}
