nav a, nav .container-fluid .collapse ul a {
  color: #cacbce;
}

nav a:hover, nav .container-fluid .collapse ul a:hover {
  color: #ffffff;
  text-decoration: none;
}

thead {
  background: linear-gradient(to right, #212560, #2C2956, #472D6A, #562B59);
  color: #F8FFFA;
}

form {
  margin-bottom: 20px;
}

.container {
  margin-bottom: 20px;
}

.question-detail {
  border: solid 1px #212560;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}

.header {
  background-image: url("/img/banner.jpg");
  background-size: cover;
  padding: 35px 0 220px;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background-color: #11162C;
  border-top: 1px solid #7E8089;
  border-left: none;
  border-right: none;
}

#logo {
  height: 50px;
  display: block;
  margin: auto;
}

#addQuestion, #answerQuestion {
  margin-bottom: 20px;
}
