nav a {
  color: #F8FFFA;
}

nav a:hover {
  color: #6ECDCF;
  text-decoration: none;
}

thead {
  background-color: #192549;
  color: #F8FFFA;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

#banner {
  width: 100%;
}

#addQuestion {
  margin-bottom: 20px;
}
