body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #cacbce;
}

nav a, nav .container-fluid .collapse ul a {
  color: #cacbce;
}

nav a:hover, nav .container-fluid .collapse ul a:hover {
  color: #ffffff;
  text-decoration: none;
}

thead {
  background: linear-gradient(to right, #212560, #2C2956, #472D6A, #562B59);
  color: #F8FFFA;
}

th {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

.container {
  margin-bottom: 20px;
  width: 75%;
}

.header {
  background-image: url("/img/banner.jpg");
  background-size: cover;
  padding: 35px 0 220px;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background-color: #11162C;
  border-top: 1px solid #7E8089;
  border-left: none;
  border-right: none;
}

.title {
  text-align: center;
  margin: 0 0 30px;
}

.table {
  margin-bottom: 0;
}

.question-detail {
  border: solid 1px #212560;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}

.delete, .star, .arrows {
  max-width: 20px;
  display: block;
  margin: auto;
}

.btn-center {
  display: block;
  margin: auto;
}

.general-faq h4 {
  color: #324081;
}

.subtitle {
  text-align: center;
  margin: 0;
}

.rank {
  text-align: center;
}

.error {
  color: #f00;
}

.fav-question {
  font-size: 16px;
}

#logo {
  height: 35px;
  display: block;
  margin-top: 30px !important;
  margin: auto;
}

#answerQuestion {
  margin-bottom: 20px;
}
