nav a {
  color: #F8FFFA;
}

nav a:hover {
  color: #FED498;
  text-decoration: none;
}

thead {
  background-color: #3F4096;
  color: #F8FFFA;
}

form {
  margin-bottom: 20px;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.container {
  margin-bottom: 20px;
}

#banner {
  width: 100%;
}

#addQuestion {
  margin-bottom: 20px;
}
